%h1.page-title Clock Events for #{params[:username]}

.events
  - @clock_events.each do |clock_event|
    = render partial: 'clock_event', locals: {clock_event: clock_event}
%br/

-if @clock_events.empty?
  %h2.text-center No Events Found
= link_to 'Back', clock_events_path
