@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Otomanopee One');

$font-roboto       : "Roboto", roboto;
$font-otomanopee   : "Otomanopee One", otomanopee One;
$color-link        : #12cdd4;
$color-link-hover  : #1ebdc2;
$color-white       : #eee;

$light-gray: #333;
$lighter-gray: #191818;
$dark-gray: #161515;
$semi-white: #ccc;
